* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-logo span {
    font-size: 30px;
    color: #585858;
    text-align: center;
}

#nav-elementos {
    display: flex;
    justify-content: center;
    color: #fff;
}

#nav-elementos a {
    margin: auto;
}

#nav-elementos a:hover {
    color: #000;
}

main {
    background-color: #fff;
}

#formulario {
    margin: 0 15vw;
    background-color: #c5c5c5;
    padding: 0 30px 30px 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Ajustes no formulário */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between; /* garante alinhamento dos itens nas extremidades */
}

form .col-md-4,
form .col-md-2,
form .col-md-1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.333% - 10px); /* para manter alinhamento e espaço consistente */
    min-width: 200px;
}

.form-label {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%; /* garante que ocupe toda a largura da coluna */
}

#documentos {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

footer {
    background-color: #BE3837;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer span {
    margin: 0 5vw;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    #nav-logo span {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    #nav-logo span {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    #nav-logo span {
        font-size: 15px;
    }
}
