* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#nav-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-logo span {
    font-size: 30px;
    color: #585858;
    text-align: center;
}

#nav-elementos {
    display: flex;
    justify-content: center;
    color: #fff;
}

#nav-elementos a {
    margin: auto;
}

#nav-elementos a:hover {
    color: #000;
}

main {
    background-color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario {
    margin: 0 15vw;
    background-color: #c5c5c5;
    padding: 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.btn-nav {
    background-color: #BE3837;  /* cor de fundo */
    color: #fff;                /* cor do texto */
    border: none;               /* sem borda */
    padding: 10px 20px;         /* espaçamento interno */
    font-size: 1rem;            /* tamanho da fonte */
    border-radius: 5px;         /* cantos arredondados */
    cursor: pointer;            /* cursor pointer ao passar o mouse */
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px 5px;           /* margem para espaçamento entre botões */
}

  /* Efeito de hover */
.btn-nav:hover {
    background-color: #a52a2a;  /* cor de fundo ao passar o mouse */
    transform: scale(1.05);     /* leve aumento no tamanho */
}

  /* Efeito de foco para acessibilidade */
.btn-nav:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(190, 56, 55, 0.5);
}

.form-label {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%; /* garante que ocupe toda a largura da coluna */
}

#documentos {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

footer {
    background-color: #BE3837;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer span {
    margin: 0 5vw;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    #nav-logo span {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    #nav-logo span {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    #nav-logo span {
        font-size: 15px;
    }
}